// Define variables for your color scheme

$dark: #3F3F4A;
$light: #FBFDFB;
$gray1: #F2F2F2;
$gray2: #EEEEEE;
$gray3: #DDDDDD;
$gray4: #B2B2B2;
$gray5: #6e6e81;
$accent: #CE625A;



// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
