.show-job-frame{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
// section 1
  .section1-title-and-icon {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    .job-title {
      padding-left:25px;

    }
    .job-category-icon {
      padding-top: 10px;
    }
  }
  // section 2
  .section2-owner-and-details {
    background-color: $light;
    width: 100%;
    padding-left: 5px;
    padding-top: 10px;
    margin: 0;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    .job-owner {
      padding-bottom: 10px;
    }
    .job-details {
      display: flex;
      justify-content: center;
      flex-direction: column;
      i {
        font-size: 15px;
        font-weight: bold;
        color: $accent;
        }
      }
  }
  // section 3
  .section3-job-description {
    padding-left: 25px;
  }

  // section 4 map

  // section 5 bookings
  .section5-bookings {
    padding-bottom: 15px;
    h3, h4 {
      padding-left: 10px;
    }
  }

  // section 6 apply button
  .applied-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
