<%= render 'shared/bar_options' %>

<div class="my-cards">
  <h3><i class="fal fa-briefcase"></i> My Jobs</h3>
</div>

<% if @my_jobs.empty? %>
  <p>You don't have active jobs :(
  </p>
<% else %>
  <% @my_jobs.each do |job|%>
    <% if (job.time > Time.now)%>
      <%= render 'shared/large_card', job: job %>
    <% end %>
  <% end %>

  <div class="container-fluid my-cards">

    <h3> <i class="fal fa-calendar-alt"></i>
       My bookings</h3>
  </div>

  <% @jobs.each do |job| %>
    <% if (job.students.include? current_user) %>

      <%= render 'shared/large_card_bookings', job: job %>
    <% end %>
  <% end %>
<% end %>
