<div class="col-xs-12 ratings-boxes">
  <div class="row">

    <%= render 'shared/small-card-rating', title:"MOVING", icon_path:"icons/truck-moving-light.svg" %>
    <%= render 'shared/small-card-rating', title:"SITTING", icon_path:"icons/paw-light.svg" %>
    <%= render 'shared/small-card-rating', title:"ERRANDS", icon_path:"icons/person-carry-light.svg" %>
    <%= render 'shared/small-card-rating', title:"HOME", icon_path:"icons/home-light.svg" %>


    </div>
</div><!-- fim do container das boxes dos ratings-->
