
  <div class="tab" id='tab-div'>

 <div class='tab-section tab-active'>
    <h5 class='text-center'>Active Jobs</h5>
  </div>

  <div class='tab-section'>
    <h5 class='text-center'>History</h5>
  </div>
</div>

  <script>
// Add active class to the current button (highlight it)

var header = document.getElementById("tab-div");
var btns = header.getElementsByClassName("tab-section");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("tab-active");
    current[0].className = current[0].className.replace(" tab-active", "");
    this.className += " tab-active";
  });
}
</script>
