
<div class="container-fluid header-section">
  <div class="col-xs-12">
  <div class="row text-center">

  <%=link_to destroy_user_session_path do  %>
       <div class="arrow col-xs-1 text-center">
      <i class="fal fa-chevron-left"></i>
    </div>

    <div class="col-xs-2 text-left title-header">
      <p>Logout</p>
    </div>
  <% end %>

  <div class="col-xs-6 text-center title-header">
    <p class="text-center text-header">Title of the page</p>
  </div>

  <div class="col-xs-3"></div>

</div>
</div>
</div>
