
input {
  background-color: $gray1 !important ;
}

.new-form-actions {
  padding-bottom: 10%;
  }

.form-check-label {
  font-family: $fontfamily;
  padding-left: 5px;
  font-size: 14px;
  font-weight: lighter;
}
