.header-section {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  height: 88px;
  background-color: $accent;

  .left-header {
    p, i {
      font-size:5px !important;}
    }

  .arrow {
    padding: 0px 0px 0px 5px;
    width: 10px;
  }

  .text-header {
    padding: 0;
    color: $accent;
    text-align: center;
  }

  i {
    font-size: 15px;
  }

  a {
    color: white;
  }
}
