
.input_with_icon {
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 43px;
  fill: $gray4;

  &.email-icon {
    background-image: url('icons/e-mail.svg');
    background-size: 20px;
  }

  &.password-icon {
    background-image: url('icons/password.svg');
    background-size: 15px;
  }

  &.user-icon {
    background-image: url('icons/user.svg');
  }

  &.delete-icon {
    background-image: url('icons/delete.svg');
  }

  &.price-icon {
    background-image: url('icons/price.svg');
    background-size: 12px;
  }

  &.calendar-icon {
    background-image: url('icons/calendar-icon.svg');
    background-size: 17px;
  }

  &.address-icon {
    background-image: url('icons/address-icon.svg');
    background-size: 15px;
  }

  &.time-icon {
    background-image: url('icons/time-icon.svg');
    background-size: 17px;
  }

  &.trash-icon {
    background-image: url('icons/trash-alt-light.svg');
    background-size: 17px;
  }

  &.job-icon {
    background-image: url('icons/briefcase-light.svg');
    background-size: 17px;

  }





}

.icon_on_a_button {
  height: 15px;
  fill: white;
  padding-left: 10px;
}

.icon_on_text {
  height: 15px;
  fill: $gray4;

}

.icon_on_small_card{
  height: 35px;

}

.icon_on_large_card {
  height: 50px;
  width: 50px;
  color: $accent;
}
