.card-booking {
  height: 156px;
  background-color: $light;
  box-shadow: 1px 1px 1px 1px $gray3;
  margin-top: 6px;
  margin-bottom: 6px;
  position: relative;

  .booking-state {
    padding-left: 15px;
  }

  .addres-large-card {
    padding-top: 7px;
  }

  .location-card {
    padding-top: 15px;
  }

  .booking-card-section {
    &.up {padding-top: 15px;
      .job-card-title {
        h4 {font-weight: 600;
            padding-left: 15px;
            text-align: left;
            border-left: 1px solid $gray2;
            }
        }
      .job-card-delete {
        position: absolute;
        top: 15px;
        right:15px;
        a {
          img {
            height:20px;
          }
        }
      }
    }

    &.down {
      .time-booking-card{
        position: absolute;
        bottom: 10px;
        left: -20px;
          h4 {
          text-align: center;
          text-transform: capitalize;
          font-weight: bold;
          }
      }
      .location-card {
          position: absolute;
          right: 10px;
          bottom: 5px;
        }
    }
  }
}
